<footer class="bg-dark text-white pt-4">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <h5>Contact Us</h5>
          <p>
            Address: kathmandu<br>
            Phone: +977-9800011100<br>
            Email: info&#64;grocerystore.com
          </p>
        </div>
        <div class="col-md-4">
          <h5>Follow Us</h5>
          <ul class="list-unstyled vertical-line">
            <li class="me-3">
              <a href="https://www.facebook.com" target="_blank" class="text-white"> 
                <i class="fab fa-facebook-f"></i>
              </a>
            </li>
            <li class="me-3">
              <a href="https://www.instagram.com" target="_blank" class="text-white">
                <i class="fab fa-instagram"></i>
              </a>
            </li>
            <li class="me-3">
              <a href="https://www.twitter.com" target="_blank" class="text-white">
                <i class="fab fa-twitter"></i>
              </a>
            </li>
            <li>
              <a href="https://www.wikipedia.org" target="_blank" class="text-white me-3">
                <i class="fab fa-wikipedia-w"></i>
              </a>
            </li>
          </ul>
        </div>
        <div class="col-md-4">
          <h5>About Us</h5>
          <p>We are your go-to online grocery store, providing a wide range of fresh produce and everyday essentials.
            <br>So shop here!!!!</p>
        </div>
      </div>
      <div class="row mt-3">
        <div class="col text-center">
          <p>&copy; 2024 Grocery Store. All rights reserved.</p>
        </div>
      </div>
    </div>
  </footer>
  