<!--Made by Fauxy, Subscribe to my YouTube channel  U CAN CODE-->
<!--Please don't forget to subscribe my Youtube Channel-->
<!DOCTYPE html>
<html>
<head>
	<title>About-us Page</title>
</head>
<body>
	<div class="container">
		<div class="about">
			<div class="text">
				<h1>About Us</h1>
				<div class="line"></div>
			</div>
		</div>
		<div class="content">
			<p>Welcome to FreshRoot  shop, your one-stop online shop for the freshest vegetables and fruits. We are committed to delivering high-quality, farm-fresh produce straight to your doorstep. Our mission is to provide you with a convenient and reliable way to access nutritious and delicious fruits and vegetables while supporting local farmers. At [Your Business Name], we prioritize sustainability, health, and customer satisfaction. Experience the joy of fresh produce with us today!</p>
            </div>
		</div>
		
</body>
</html>